In [1]:
import requests
import pandas as pd

In [29]:
paper_url='https://api.openalex.org/works/https://doi.org/{DOI}'
author_url = "https://api.openalex.org/authors/{ID}"

years = range(16,23)
results = pd.DataFrame(columns=['doi','Name','Name_Variants','Institution'])
author_ids = []

for year in years:
    for doi in pd.read_csv("G"+str(year)+".csv")["doi"]:   
        response = requests.get(url = paper_url.replace("{DOI}", doi))
        if response.status_code != 200:
            print("not response")
            break
        for author in response.json()['authorships']:
            author_ids.append(author['author']['id'].replace("https://openalex.org/",""))
            r = requests.get(url = author_url.replace("{ID}", author['author']['id'].replace("https://openalex.org/",""))).json()
            # names.append(r['display_name'])
            # inst.append(r['last_known_institution']['display_name'])
            results.loc[len(results.index)] = [doi, r['display_name'], r['display_name_alternatives'], r['last_known_institution']['display_name'] if r['last_known_institution'] else '']
    print(year)    
    
results.to_csv('author_detail.csv', index=False)

16
17
18
19
20
21
22

In [30]:
results

,doi,Name,Name_Variants,Institution
0,10.1007/s00382-016-3232-2,M. B. Masud,[],University of Alberta
1,10.1007/s00382-016-3232-2,M. N. Khaliq,[],National Research Council Canada
2,10.1007/s00382-016-3232-2,Howard Wheater,[],University of Saskatchewan
3,10.1007/s00382-016-3404-0,M. B. Masud,[],University of Alberta
4,10.1007/s00382-016-3404-0,M. N. Khaliq,[],National Research Council Canada
...,...,...,...,...
9679,10.5194/hess-26-2131-2022,Mohammad Ghoreishi,[],Isfahan University of Medical Sciences
9680,10.5194/hess-26-2131-2022,You Lu,[卢铀],West China Hospital of Sichuan University
9681,10.5194/hess-26-2131-2022,Felipe M. Souza,"[MOURA SOUZA, F.]",Universidade Federal do ABC
9682,10.5194/hess-26-2131-2022,Murugesu Sivapalan,[],University of Illinois Urbana-Champaign
9683,10.5194/hess-26-2131-2022,Fuqiang Tian,[],Tsinghua University